.container {
    height: 150px;
    border: 1px solid indigo;
    display: flex;
    align-self: center;
    justify-content: center;
  }


#first_quarter {
    background: #1f2937;
}

#third_quarter{
    background-color: #E5E7EB;
    height: 150px;
}

#placeholder_image{
    background-color: gray;
    color: white    ;
}
